* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, Segoe UI, Arial, sans-serif;
  background: #eeeeee;
}

.content {
  padding: 110px 18px 120px;
  max-width: 600px;
  margin: 0 auto;
}

.page {
  min-height: 100vh;
}

/* Topo fixo*/
.topbar {
  background-color: #cf2b2b;
  height: 92px;
  width: 100%;
  position: fixed;
  top: 0px; left: 0px;
  padding: 16px 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo {
  margin: 0;
  color: #fff;
  font-family: Righteous, cursive;
  font-size: 44px;
  font-weight: 400;
  line-height: 1;
  margin-left: 18px;
}

.subtitle {
  margin: 4px 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
   margin-left: 18px;
}

/* Conteúdo */
.content {
  padding: 110px 18px 120px;
}

.section-title {
  margin: 18px 0 10px;
  font-family: Righteous, cursive;
  font-size: 26px;
  font-weight: 400;
  color: #333;
}

.horizontal-list {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 8px;

  -webkit-overflow-scrolling: touch;
}

/* Card base */
.card {
  min-width: 172px;
  height: 180px;
  background: #fff;
  border-radius: 9px;
  padding: 12px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  flex-shrink: 0;
}

.product-card {
  border-radius: 9px;
  padding: 16px 8px;
}
.product-card.selected {
  border: 5px solid #32b72f;
}

/* Rodapé fixo */
.bottombar {
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  height: 92px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  z-index: 10;
}

.close-order {
  width: 100%;
  height: 61px;
  border: none;
  border-radius: 50px;
  background: #cbcbcb;
  color: #fff;
  font-size: 18px;
}

.close-order.enabled {
  background: #32b72f;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.modal-box {
  width: min(90%, 400px);
  max-width: 400px;
  background: #50d074;
  border-radius: 9px;
  padding: 20px;
  color: #fff;
}

.modal-title {
  text-align: center;
  margin-bottom: 20px;
}

.modal-item,
.modal-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-total {
  font-weight: bold;
  margin-top: 15px;
}

.modal-confirm {
  width: 100%;
  height: 52px;
  border-radius: 100px;
  border: none;
  background: #fff;
  color: #50d074;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.modal-cancel {
  background: none;
  border: none;
  color: #fff;
  margin-top: 10px;
  width: 100%;
}
